html, body {
	margin: 0;
	padding: 0;
}

#container {
	width: 100%;
	margin: auto;
	border: 0.3px solid black;
}

#header {
	background-image: url(image2.jpg);
	background-size: 100% 100%;
    	background-repeat: no-repeat;
	height: 370px;
}

#menu {
	float: left;
	width: 20%;
}

#menu ul {
margin: auto;
padding: 2px 0 0 0;

border-radius: 15px;
text-align: center;
font-family: Marker Felt, fantasy;
font-size: x-large;
wigth: 100%;
}

#menu a {
color: black;
text-decoration: none; 
}

#content {
	width: 59.7%;
	float: left;
	font-size: 1.2em;
	color: #696969;
	line-height: 1.1em;
	font-family: URW Chancery L, cursive;
}


#sidebar {
	width: 20%;
	float: right;
	text-align: center;	
}

#footer {
	width: 100%;
	float: right;
	text-align: center;
	font-size: 1em;
	color: #000000;
	line-height: 1.1em;
	font-family: URW Chancery L, cursive;
}

div {
	border: 0.3px solid white;
}

